.dashboard-customers-info {
    width: 100%;
}


.dashboard-customers {
    margin: 30px 50px 0;
    width: 1055.8px;

}

.dashboard-customers h2 {
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.customers-table {
    width: 100%;
    height: 450px;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.customers-table::-webkit-scrollbar {
    display: none;
}

.customers-table table {
    color: white;
    width: 100%;
    text-align: center;
}

table td {
    height: 45px;
    text-align: center;
}

.user-data {
    background-color: rgb(33, 41, 92);
    border-radius: 10px;
}


.edit-btn {
    height: 45px;
    /* width: 120px; */
}

.edit-btn button {
    margin: 3.5px 0;
    width: 100px;
    height: 37px;
    border-radius: 50px;
    font-weight: bold;
    border: none;
}

.edit-btn button:hover {
    font-size: large;
}

.delete-btn {
    background-color: rgb(202, 30, 3);
    color: #fff;
}