.driver-dashboard-section {
  display: flex;
  background: #e7f2fd;
}

.drive-dash-data .driver-dash-ride {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 800px;
  margin: 10px 22px;
}

.drive-dash-data .driver-dash-banner {
  width: 750px;
  height: 150px;
  padding: 20px;
  background: rgba(135, 207, 235, 0.447);
  margin: 20px 50px;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
}
.drive-dash-data .dash-top {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.drive-dash-data .driver-dash-banner h4 {
  color: var(--blue);
  font-weight: 600;
}

.drive-dash-data .driver-dash-banner p {
  margin: 0;
  width: 520px;
  color: rgba(0, 0, 0, 0.553);
  font-size: 15px;
}

.drive-dash-data .driver-dash-banner img {
  margin: 0;
  width: 200px;
  height: 120px;
}

.driver-bar-chart {
  width: 370px;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  left: 45.2rem;
  top: 28rem;
  border-radius: 10px;
}
.driver-pai-chart {
  padding: 20px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  right: 2rem;
  top: 6rem;
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 16px 24px -2px #407cff3e;
}
.driver-line-chart {
  height: 240px;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  position: absolute;
  left: 22.2rem;
  top: 28rem;
  display: flex;
  border-radius: 10px;
}
.driver-feedback-section {
  padding: 20px;
  height: 240px;
  width: 390px;
  background: #ffffff;
  position: absolute;
  right: 2rem;
  top: 28rem;
  border-radius: 10px;
  overflow: hidden;
  overflow-y: scroll;
 
}
.driver-feedback-section h3{
  font-size: 20px;
  font-weight: bold;
  color: var(--blue);
  margin: 0;
  padding: 15px;
  text-align: center;
  
}
.driver-feedback-section::-webkit-scrollbar {
  display: none;
}
.driver-feedback-section table{
 width: 100%;
 height: auto;
 
}
.driver-feedback-section table tr td{
 background: rgb(242, 242, 242);
 
 

}
.driver-feedback-section table tr{
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  
 
}

.driver-pai-chart img {
  width: 400px;
  height: 300px;
  position: relative;
  right: 60px;
}

.driver-dash-ride {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.drive-dash-data .weekly-ride {
  width: 150px;
  height: 150px;
  background: #ffffff;
  border-radius: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: 0px 16px 24px -2px #407cff2c;
}

.drive-dash-data .weekly-ride p {
  margin: 0;
  text-align: center;
  padding: 5px;
  font-size: 15px;
  color: var(--blue);
  font-weight: bold;
}

.drive-dash-data .weekly-ride h4 {
  margin: 0;
  text-align: center;
  padding: 10px;
  font-size: 20px;
  color: var(--blue);
  font-weight: bold;
}

.drive-dash-data .weekly-ride span {
  padding: 10px;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: var(--blue);
}

.weekly-ride img {
  margin: 0;
  width: auto;
  width: 220px;
  height: 220px;
}

#checkbox {
  display: none;
}

.switch {
  position: relative;
  width: 70px;
  height: 70px;
  background-color: rgb(99, 99, 99);
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid rgb(126, 126, 126);
  box-shadow: 0px 0px 3px rgb(2, 2, 2) inset;
}


.switch2 {
  position: relative;
  width: 70px;
  height: 70px;
  /* background-color: rgb(99, 99, 99); */
  border-radius: 50%;
  z-index: 1;
  cursor: pointer;
  box-shadow: 0px 0px 1px rgb(151, 243, 255) inset,
    0px 0px 2px rgb(151, 243, 255) inset,
    0px 0px 10px rgb(151, 243, 255) inset,
    0px 0px 40px rgb(151, 243, 255),
    0px 0px 100px rgb(151, 243, 255),
    0px 0px 5px rgb(151, 243, 255);
  border: 2px solid rgb(255, 255, 255);
  background-color: rgb(146, 180, 184);
}
.switch svg {
  width: 1.2em;
}

.switch svg path {
  fill: rgb(48, 48, 48);
}


#checkbox:checked+.switch svg {
  filter: drop-shadow(0px 0px 5px rgb(151, 243, 255));
}

#checkbox:checked+.switch svg path {
  fill: rgb(255, 255, 255);
}

.drive-dash-data .reviwes {
  width: 100%;
  height: 120px;
  background: #ffffff;
  padding: 20px;
}

.status{
  display: none;
}
.status2{
  display: none;
}


.offline .status{
  display: block;
  color: red;
}
.online .status2{
  display: block;
}
