* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.admin-Dashboard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color:#264a99;
    display: flex;
}

.admin-SideBar {
    width: 100%;
    height: 100%;
    background-color:#3362cc;

}

.admin-SideBar .admin-brand {
    width: 100%;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-SideBar .admin-brand h3 {
    text-align: center;
    font-size: 20px;
    color: rgb(249, 220, 56);
}

.admin-SideBar .dashboard-section {
    width: 100%;
}

.dashboard-section .dashboard-options {
    height: 574px;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    overflow: hidden;
    overflow-y: scroll;
}

.dashboard-options::-webkit-scrollbar {
    display: none;
}

.dashboard-options .dashboard-head {
    width: 250px;
    text-align: center;
    height: 50px;
    padding: 16px 0;
    margin: 0;
}

.dashboard-options .dashboard-head h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;

}

.dashboard-head1:hover {
    background-color: hsla(222, 37%, 36%, 0.302);
}

.dashboard-options .dashboard-span {

    height: 50px;
    padding: 10px 0;
    margin: 10px 0 0;
}

.dashboard-options span {
    text-align: center;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}

.dashboard-options .dashboard-items {
    width: 250px;
    text-align: center;
    height: 50px;
    padding: 16px 0;
    margin: 0;
}

.dashboard-items:hover {
    background-color: hsla(222, 37%, 36%, 0.302);
}


.dashboard-options .dashboard-items h5 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
}


.profile-section{
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;

}

.profile-section .profile-content{
    width: 100%;
    height: 100px;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items:center ;

}