body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.confirme-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #e5e5f7;
  background-image: radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
  background-size: 10px 10px;
  padding: 0px 100px;
}
.driver-conform-headings {
  padding: 80px;
  margin: 0;
}
.driver-conform-headings h1 {
  font-size: 35px;
  font-weight: bold;
  color: #0c218a;
  margin: 0;
  padding: 10px;
}
.driver-conform-headings h2,
h3 {
  font-size: 30px;
  font-weight: bold;
  color: #171923df;
  margin: 0;
  padding: 10px;
}
.driver-conform-headings span {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  margin: 0;
  padding: 10px;
}
.confirme-driver-btn {
  padding: 10px;
  background: #444bf7;
  color: #ffffff;
  border: 2px solid #444bf7;
  border-radius: 10px;
  margin: 20px;
  font-weight: 500;
  box-shadow: 0px 16px 24px -2px #407cff9f;
}
.confirme-driver-btn:hover {
  background: #151bb1e6;
}
.driver-conform-headings form {
  margin: 0;
  background: #ffffff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 500px;
}
.driver-conform-headings form input {
  padding: 5px 0px;
  border-bottom-style: solid;
  border-bottom-color: var(--blue);
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  box-shadow: 0px 16px 24px -2px #407cff15;
  background: transparent;
  font-size: 15px;
  margin: 20px;
}
.driver-conform-headings input:focus {
  outline: none;
}
.driver-conform-headingsinput:after {
  border: none;
}
.driver-conform-headings input::placeholder {
  color: #011440;
  font-weight: bold;
  font-size: 15px;
}
.driver-info-section {
  width: 300px;
  height: auto;
  background: rgb(1, 33, 81);
  background: linear-gradient(
    138deg,
    rgba(1, 33, 81, 1) 0%,
    rgba(68, 75, 247, 1) 100%
  );
  box-shadow: 0px 16px 24px -2px #407cff9f;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  color: #ffffff;
}
.driver-info-section img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 1px solid white;
}
.driver-info-section h3 {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 10px;
}
.driver-info-section p {
  margin: 0;
  padding: 5px;
}
.cancel_section {
  padding-left: 120px;
  background-color: #011440;
  opacity: 1;
  background-image: radial-gradient(
    #f3f4fe 0.6000000000000001px,
    #011440 0.6000000000000001px
  );
  background-size: 12px 12px;
}
.cancel_section p {
  width: 80%;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding-top: 10px;
}
.cancle-ride-btn {
  padding: 8px;
  background: var(--blue);
  border: none;
  margin-bottom: 5px;
  color: white;
  border-radius: 10px;
}
