:root {
  --blue: #407bff;
  --white: #ffffff;
}

body {
  margin: 0;
  top: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

#nav-bar-section{
  padding: 5px;
  background: transparent;
}
.home-navbar{
  position: absolute;
  z-index: 1;
}
.navbar_section{
  -webkit-box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75)
  }

.logo {
  color: var(--blue);
  font-weight: bold;
  font-size: 30px;
  font-family: monospace;
  margin: 0 30px;
}

.me-auto .nav-link-with-space{
  margin: 0 30px;
  font-size: 20px;
  color: black;
  font-weight: bold;
}


#collapsible-nav-dropdown {
  font-size: 20px;
  color: black;
  font-weight: bold;
}
.dropdown-items{
  padding: 7px ;
  text-align: center;
  font-weight: 500;
}
.signup-btn {
  border: 2px solid white;
  border-radius: 64px;
  width: 120px;
  text-align: center;
  font-size: 20px;
  color: var(--white);
  font-weight: bold;
}

.navbar-nav .active{
 color: var(--blue) !important;
 background-color: var(--white) !important;
}

/* main section */
.main_section {
  width: 100%;
  margin-top: -65px;
  display: flex;
  justify-content: space-between;
}

.main_left {
  width: 50%;
  align-items: center;
  margin-top: 20px;
}

.main_btn,
h1,
p {
  margin-left: 120px;
}

.heading {
  font-size: 90px;
  font-weight: 900;
  margin-top: 70px;
}

.main_left p {
  font-size: 20px;
  width: 380px;
}

.main_btn {
  width: 250px;
  height: 65px;
  background: var(--blue);
  color: var(--white);
  border-radius: 20px;
  font-size: 25px;
  border: none;
  font-weight: bold;
  margin-top: 10px;
}

.main_container {
  background: var(--blue);
  border-radius: 0px 0px 0px 600px;
  width: 550px;
  margin-bottom: 50px;
  z-index: 1;
}

.car_avtar {
  width: 700px;
  margin-left: -180px;
  margin-top: -50px;
}

/* feature section */

.feature_section {
  width: 100%;

}

.feature_content{
  margin-bottom:50px;
}

.feature_heading {
  text-align: center;
  color: rgba(0, 0, 0, 0.64);
  margin:30px 0;
  font-size: 40px;
  font-weight: 600;
}

.feature_sub_heading {
  text-align: center;
  margin: 20px 0;
  color: var(--blue);
  font: 800 58px Inter, sans-serif;
}

.feature_content p{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgba(0, 0, 0, 0.65);
  margin-top: 25px;
  font: 400 25px Inter, sans-serif;
  width: 100%;
}

/* feedback */
.feedback_heading {
  color: var(--blue);
  text-align: center;
  align-self: center;
  margin-top: 81px;
  font: 800 40px Inter, sans-serif;
}
/* FAQ section */
.Faq_heading {
  color: var(--blue);
  text-align: center;
  align-self: center;
  margin-top: 81px;
  font: 800 40px Inter, sans-serif;
}

.faq_container {
  width: 80%;
  margin: 30px 150px;
}