:root {
    --blue: #407BFF;
    --white: #ffffff;
}
body{
    margin: 0;
    top: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


#nav-bar-section{
    padding: 5px;
    background: transparent;
}

.navbar_section{
-webkit-box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75);
box-shadow: 10px 10px 34px -27px rgba(0,0,0,0.75)
}
.logo{
    color: var(--blue);
    font-weight: bold;
    font-size: 30px;
    font-family: monospace;
    margin: 0 40px;
}
.nav-link-with-space {
    margin: 0 40px;
   /* margin-right: 4rem; /* Adjust the value as per your preference */
   /* margin-left: 4rem;  Adjust the value as per your preference */
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.dropdown-btn {
    margin: 0 40px;
    font-size: 20px;
    color: black;
    font-weight: bold;
}
.dropdown-items{
    padding: 7px ;
    text-align: center;
    font-weight: 500;
}
.signup-btn{
    border: 2px solid black;
    border-radius: 64px;
    width: 120px;
    text-align: center;
    font-size: 20px;
    color: black;
    font-weight: bold;
}

.dropdown-items:hover{
    background-color: var(--blue);
    color: var(--white);
}

.dropdown-items:active{
    background-color: #fff;
    color: #407BFF;
}

.navbar-nav .active{
   color: var(--blue) !important;
   background-color: var(--white) !important;
}