body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.payment-section {
  display: flex;
  justify-content: space-evenly;
  background-color: #e5e5f7;
  background-size: 10px 10px;
}
.payment-details {
  padding: 50px;
}
.payment-details h1 {
  margin: 0;
  font-size: 40;
  font-weight: bold;
  color: #444cf7;
  padding: 0px 0px 20px 0px;
}
.payment-sucsess {
  width: 40px;
  height: 40px;
}
.payment-section form {
  background: #ffffff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  border-radius: 20px;
  width: 500px;
  padding: 20px;
}
.payment-details form input[type="text"] {
  padding: 20px 0px;
  border-bottom-style: solid;
  border-bottom-color: var(--blue);
  box-shadow: 0px 16px 24px -2px #407cff15;
  border-top-color: transparent;
  border-left-color: transparent;
  border-right-color: transparent;
  font-size: 15px;
  margin: 0px 10px 0px 0px;
}
.payment-details input:focus {
  outline: none;
}
.payment-details input:after {
  border: none;
}
.payment-details input::placeholder {
  color: #011440;
  font-weight: bold;
  font-size: 15px;
}
.payment-details h2 {
  font-size: 30px;
  font-weight: bold;
  color: #171923;
  padding: 20px 0px 20px 0px;
  margin: 0;
}
.driver-info-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10px;
  width: 500px;
  height: 250px;
  text-align: center;
  background: rgb(1, 33, 81);
  background: linear-gradient(
    138deg,
    rgba(1, 33, 81, 1) 0%,
    rgba(68, 75, 247, 1) 100%
  );
  box-shadow: 0px 16px 24px -2px #407cff9f;
  color: #ffffff;
}
.driver-info-container h3 {
  margin: 0;
  color: #ffffff;
  font-weight: bold;
  padding: 10px;
}
.driver-info-container p {
  margin: 0;
}
.driver-info-profile img {
  width: 180px;
  height: 180px;
  border-radius: 5px;
}
.payment-feedback h3 {
  font-size: 30px;
  font-weight: bold;
  color: var(--blue);
  padding: 50px 0px 0px 0px;
}
.payment-feedback textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
.feedback-submit {
  padding: 15px;
  background: #444bf7;
  color: #ffffff;
  border: 2px solid #444bf7;
  border-radius: 10px;
  margin: 10px;
  box-shadow: 0px 16px 24px -2px #407cff9f;
}
.payment-bro {
  width: 500px;
  height: 500px;
}
/* Responsive CSS */

/* For smaller devices */
@media screen and (max-width: 768px) {
  .payment-section {
    flex-direction: column;
    align-items: center;
  }

  .payment-details {
    width: 90%;
    padding: 20px;
  }
  .payment-feedback h3 {
    font-size: 20px;
    text-align: center;
  }

  .payment-section form {
    width: 90%;
  }

  .driver-info-container {
    width: 90%;
    height: auto;
    margin-top: 20px;
  }

  .driver-info-profile img {
    width: 100%;
    height: auto;
    max-width: 200px;
    max-height: 200px;
  }
  .feedback-submit {
    margin: 10px 150px;
    
  }
}

/* For larger devices */
@media screen and (min-width: 1024px) {
  .payment-section {
    justify-content: center;
  }

  .payment-details {
    width: 50%;
    padding: 50px;
  }

  .payment-section form {
    width: 100%;
  }

  .driver-info-container {
    width: 100%;
    height: 250px;
    margin-top: 0;
  }

  .driver-info-profile img {
    max-width: 180px;
    max-height: 180px;
  }
}
