.main-container{
    width: 100%;
    padding: 0;
    margin: 0;
}

.inner-container {
    margin: 20px;
    padding: 20px 100px 20px;
}

.inner-container h1{
    font-size: 32px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 15px;
}

.inner-container .para{
    font-size: 18px;
    padding: 8px 0 ;
    margin: 0;
    width: 100%;
    font-weight: 100;

}

.sec-heading{
    font-weight: bold;
    padding-top: 10px;
    font-size: 28px;
}

.therd-heading{
    font-weight: bold;
    font-size: 24px;
    padding-top: 12px;
}
/* Responsive Page CSS */

/* For smaller devices */
@media screen and (max-width: 992px) {
    .inner-container {
      padding: 20px;
    }
    .inner-container h1 {
      font-size: 28px;
    }
    .inner-container .para {
      font-size: 16px;
    }
    .sec-heading {
      font-size: 24px;
    }
    .therd-heading {
      font-size: 20px;
    }
  }
  
  /* For mobile devices */
  @media screen and (max-width: 576px) {
    .inner-container {
      margin: 10px;
      padding: 10px;
    }
    .inner-container h1 {
      font-size: 24px;
    }
    .inner-container .para {
      font-size: 14px;
    }
    .sec-heading {
      font-size: 20px;
    }
    .therd-heading {
      font-size: 18px;
    }
  }
  