body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.user-booking{
  display: flex;
  justify-content: left;
  align-items: center;
  /* height: 100vh; */
  padding: 20px;
  margin-left: 50px;
}
.booikg-container {
  padding: 20px;
  background: #ffffff;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.192),
    0 10px 10px -5px rgba(0, 0, 0, 0.207);
  border-radius: 20px;
  width: 400px;
  height: 600px;
}
.booikg-container .register-container-heading {
  padding: 8px 0px;
  color: var(--blue);
  font-weight: bold;
}
.user-booking .valid-msg {
  margin: 0;
  padding: 10px 0px;
}
.user-booking .valid-msg .success {
  color: green;
}
.user-booking .valid-msg .error {
  color: red;
}
.user-booking .booikg-container label {
  padding: 5px 0px;
  font-weight: 600;
  color: rgba(75, 75, 75, 0.842);
}
.user-booking .booikg-container input[type="text"]  {
  width: 100%;
  padding: 10px 0 10px 12px;
  border: none;
  background: rgb(238, 238, 238);
  border-radius: 8px;
}
.user-booking .booikg-container input[type="date"],[type="time"]  {
  padding: 10px;
  width: 150px;
  height: 50px;
  border: none;
  background: rgb(238, 238, 238);
  border-radius: 8px;
}
.user-booking .booikg-container select  {
  width: 100%;
  padding: 10px 0 10px 12px;
  border: none;
  background: rgb(238, 238, 238);
  border-radius: 8px;
}
.user-booking .booikg-container input[type="submit"] {
  width: 100%;
  padding: 6px;
  text-align: center;
  background: var(--blue);
  color: #ffffff;
}
.booikg-container .form-check-label {
  margin: 0;
}
.booikg-container .text-center {
  margin: 0;
  padding: 5px 0;
}
.booikg-container .form-check {
  padding: 10px 30px;
}
.user-booking .booikg-container input[type="submit"]:hover {
  background: rgba(15, 74, 223, 0.736);
}

.booikg-container .bookig-date-time {
  display: flex;
  /* justify-content: space-between; */
  gap: 50px;
}