:root {
    --blue: #407bff;
    --white: #ffffff;
}

.safety-section {
    width: 100%;
    margin: 0;
    padding: 0;
}

.ourSafety {
    margin: 100px 90px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* flex-wrap: wrap; */
}

.info {
    width: 100%;
}

.info h1 {
    color: var(--blue);
    padding: 0;
    margin: 0;
    font-size: 40px;
    margin-bottom: 25px;
    font-weight: 600;
}

.info p {
    padding: 15px 20px 0 0;
    margin: 0;
    width: 100%;
    color: rgba(47, 47, 47, 0.779);
    font-size: 25px;
    line-height: 1.2;
}

.safety-img .image {
    width: 600px;
    border-radius: 10px;
}

.passengerSafety {
    width: 100%;
}

.passengerSafety h2 {
    padding: 20px 0 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.passengers {
    margin: 5% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}


.driverSafety {
    margin-top: 5%;
    width: 100%;
}

.our-section2 h2 {
    padding: 20px 0 0;
    margin: 0;
    font-weight: bold;
    text-align: center;
}

.passengers-section {
    margin: 5% 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.safetys {
    width: 30%;
    height: auto;
    background-color: #f4f4f4;
    border-radius: 5px;
    padding: 20px;
}

.safetys h4 {
    color: var(--blue);
    font-size: 22px;
    font-weight: bold;
    padding: 25px 0 20px;
    margin: 0;
    text-align: center;
}

.safetys p {
    padding: 10px 20px;
    margin: 0;
    line-height: 1.5;
    font-size: 19px;
    color: grey;
}

.drivers-section {
    margin: 5% 5%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}



/* //////////////////////// */



.safetyMeasures {
    width: 100%;
    margin-top: 5%;
}

.safetyMeasures h2 {
    margin: 0;
    padding: 5% 0;
    font-size: 30px;
    text-align: center;
    color: black;
    font-weight: bold;
}

.covid-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 5% 5%;
    flex-wrap: wrap;
}

.covid-img img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

.covid-info {
    width: 45%;
}

.covid-info p {
    padding: 10px;
    margin: 0;
    width: 100%;
    font-size: 19px;
    line-height: 1.5;
    color: grey;
}

/* /////////////////// */


.covid-safety {
    margin: 5% 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.covid-safety-section {
    width: 30%;
    padding: 20px;
    height: auto;
    background-color: #f4f4f4;
   border-radius: 5px;
}

.covid-safety-section h4 {
    color: black;
    font-size: 22px;
    font-weight: bold;
    padding: 20px 0 10px;
    margin: 0;
    text-align: center;
}

.covid-safety-section p {
    padding: 10px 15px;
    margin: 0;
    line-height: 1.5;
    font-size: 19px;
    color: grey;
}


/* ////////// */


.communitySafety {
    margin: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.community-info {
    width: 45%;
}

.community-info .community-heading {
    color: var(--blue);
    padding: 0 30px ;
    margin: 0;
    font-size: 40px;
    margin-bottom: 15px;
}

.community-info .community-para {
    padding: 15px 10px 0 30px;
    margin: 0;
    width: 100%;
    font-size: 25px;
    line-height: 1.2;
    color: grey;
}
.community-img .image {
    width: 100%;
    max-width: 500px;
    border-radius: 10px;
}

/* //////////// */


.safety-features {
    margin: 0 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.reporting-Features{
    width: auto;
    margin: 15px 0;
}

.safety-features .feature-heading{
    color: var(--blue);
    padding: 0;
    margin: 0;
    font-weight: bold;
    margin-bottom: 15px;
}

.safety-features .feature-para{
    padding: 15px 10px 0 0;
    margin: 0;
    width: 100%;
    font-size: 20px;
    line-height: 1.2;
    color: grey;
}


/* /////////// */


.contact-team{
    margin: 0 5%;
}

.contact-team .contact-heading{
    color: var(--blue);
    font-weight: bold;
    padding: 10px 0 5px;
}

.contact-team .team-para{
    width: auto;
    padding: 7px 0;
    margin: 0;
    font-size: 19px;
    color: rgb(87, 87, 87);
}

/* Media Queries */
@media screen and (max-width: 992px) {
    .ourSafety {
        margin: 5% 5%;
        flex-wrap: wrap;
        
    }
    .covid-safety-section {
        height: auto;
    }
    .covid-info {
        width: 100%;
    }
    .info {
        width: 90%;
    }
    .info p{
        margin: 20px 0;
    }
    .safety-img .image,
    .community-img .image,
    .covid-img img {
        max-width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .info {
        width: 100%;
    }
    .safetys,
    .covid-safety-section,
    .community-info,
    .reporting-Features {
        width: 100%;
        margin: 5% 0;
    }
    .safety-img .image,
    .community-img .image,
    .covid-img img {
        max-width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .info h1 {
        font-size: 30px;
    }
    .info p {
        font-size: 20px;
    }
    .safetys h4,
    .covid-safety-section h4,
    .community-info .community-heading,
    .safety-features .feature-heading,
    .contact-team .contact-heading {
        font-size: 18px;
    }
    .safetys p,
    .covid-safety-section p,
    .community-info .community-para,
    .safety-features .feature-para,
    .contact-team .team-para {
        font-size: 16px;
    }
    .info {
        margin: 5% 5%;
    }
}
