.feature-row {
  width: 100%;
  padding: 0 100px;
  margin: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px 0 30px;
}

.feature-content {
  width: 500px;
  padding: 20px;
}

.feature-content h2 {
  font-size: 40px;
  font-weight: bold;
}


.feature-content p {
  margin: 0;
  font-size: 22px;
  width: 100%;
}

.feature-content .btn {
  border-radius: 14px;
  background-color: #407bff;
  align-self: start;
  margin-top: 24px;
  justify-content: center;
  color: #f4f4f4;
  white-space: nowrap;
  padding: 23px 34px;
  font: 16px/97% Inter, sans-serif;
}


.feature-imgae{
  width: 450px;
}

.feature-imgae img{
  width: 450px;
  height: 370px;
}

/* Responsive CSS */

/* For smaller devices */
@media screen and (max-width: 768px) {
  .feature-row {
    flex-direction: column; /* Change flex direction for smaller devices */
    padding: 0 20px; /* Adjust padding for smaller devices */
  }

  .feature-content {
    width: 100%; /* Make content full width for smaller devices */
    padding: 20px 0; /* Adjust padding for smaller devices */
    text-align: center; /* Center align text for smaller devices */
  }

  .feature-content h2 {
    font-size: 30px; /* Decrease font size for smaller devices */
  }

  .feature-content p {
    font-size: 18px; /* Decrease font size for smaller devices */
  }

  .feature-content .btn {
    margin-top: 20px; /* Adjust top margin for smaller devices */
    padding: 15px 30px; /* Adjust padding for smaller devices */
    font-size: 14px; /* Decrease font size for smaller devices */
  }

  .feature-imgae,
  .feature-imgae img {
    width: 100%; /* Make image full width for smaller devices */
    height: auto; /* Auto height for responsive images */
  }
}
