@import url("https://fonts.googleapis.com/css2?family=poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "poppins", sans-serif;
}

.driver-login-form {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  height: 600px;
  background: #f7f7f7;
}
.driver-reg-form {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* height: 600px; */
  background: #f7f7f7;
}
header {
  text-align: center;
}

.wrapper2 {
  background: #fff;
  width: 450px;
  border-radius: 16px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1),
    0 32px 64px -48px rgba(0, 0, 0, 0.5);
}

/* Singup Form Css Code */
.form2 {
  padding: 25px 30px;
}
.form3 {
  padding: 10px 30px;
}
.form2 header {
  font-size: 25px;
  font-weight: 600;
  padding-bottom: 10px;
  border-bottom: 1px solid #e6e6e6;
  color: var(--blue);
}

.form2 .form {
  margin: 20px 0;
}
.form3 .form {
  /* margin: 20px 0; */
  margin: 0;
}

.form2 .form .error-txt {
  color: #721c24;
  background: #f8d7da;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #f5c6cb;
}

.form2 .form .success-msg {
  color: #00ff26;
  background: #f4fdf8;
  padding: 8px 10px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #00ff55;
}

.form2 .form .name-details {
  display: flex;
}
.form .name-details .field:first-child {
  margin-right: 10px;
}
.form .name-details .field:last-child {
  margin-left: 10px;
}
.form2 .form .field {
  display: flex;
  position: relative;
  flex-direction: column;
  margin-bottom: 10px;
}
.form2 .form .field label {
  margin-bottom: 10px;
}
.form2 .form .field input {
  outline: none;
}

.form2 .form .input input {
  height: 40px;
  width: 100%;
  font-size: 16px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: white;
}

.form2 .form .image input {
  font-size: 17px;
}

.form2 .form .button input {
  margin-top: 13px;
  height: 45px;
  border: none;
  font-size: 17px;
  font-weight: 400;
  background: #333;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
.form2 .form .field .icon {
  position: absolute;
  right: 15px;
  color: #ccc;
  top: 70%;
  transform: translateY(-50%);
  cursor: pointer;
}

.form2 .link {
  text-align: center;
  font-size: 17px;
}
.form2 .link p{
  margin: 0;
  text-align: start;
  color: var(--blue);
}

.form2 .link a {
  color: #333;
  color: var(--blue);
}
.form2 .link a:hover {
  text-decoration: underline;
}

/* users area css code */

.driver-login-form .users {
  padding: 25px 30px;
}
.driver-login-form .users header {
  display: flex;
  align-items: center;
  padding-bottom: 20px;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
}
.driver-login-form .wrapper2 img {
  object-fit: cover;
  border-radius: 50%;
}
.driver-login-form .users header .content {
  display: flex;
}
.driver-login-form .users header .content img {
  height: 50px;
  width: 50px;
}
.driver-login-form .users header .details {
  margin-left: 15px;
}

.driver-login-form .users header .details span {
  font-size: 18px;
  font-weight: 500;
}
/* Responsive CSS */
@media screen and (max-width: 768px) {
  .driver-login-form,
  .driver-reg-form {
      height: auto;
      min-height: 100vh;
  }

  .wrapper2 {
      width: 90%; 
      max-width: 400px; 
      margin: 20px;
  }

  .form2 header {
      font-size: 20px; 
  }

  .form2 .form .field input {
      font-size: 14px;
      height: 35px;
  }

  .form2 .form .button input {
      font-size: 16px; 
      height: 40px; 
  }

  .driver-login-form .users header .content img {
      height: 40px; 
      width: 40px; 
  }

  .driver-login-form .users header .details span {
      font-size: 16px; 
  }
}
