* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Driver-Content {
    width: 82%;
    height: 40px;
}



.Driver-SideBar {
    width: 18%;
    height: 100vh;
    background-color: #ffffff;
    border-right: 2px solid var(--blue);
    border-top: 10px;
    
}


.Driver-Dashboard {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
    display: flex;
}


.Driver-SideBar .Driver-brand {
    width: 100%;
    height: 80px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.Driver-SideBar .Driver-brand h3 {
    text-align: center;
    font-size: 20px;
    color: var(--blue);
}
.driver-dash-profile {
    font-weight: 900;
    font-size: 30px;
}

.Driver-SideBar .Driver-dashboard-section {
    width: 100%;
}

.Driver-dashboard-section .Driver-dashboard-options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    font-size: 14px;
    font-weight: 600;
    color: var(--blue);
    overflow: hidden;
    overflow-y: scroll;
}

.Driver-dashboard-options::-webkit-scrollbar{
    display: none;
}

.Driver-dashboard-options .Driver-dashboard-head {
    width: 100%;
    text-align: center;
    height: 50px;
    padding: 50px 0;
    margin: 0;
    cursor: pointer;
}

.Driver-dashboard-options .Driver-dashboard-head h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--blue);

}

 /* .Driver-dashboard-head:hover{
    
} */

/* .Driver-dashboard-options .Driver-dashboard-span {
   
    height: 50px;
    padding: 16px 0;
    margin: 15px 0 0;
}

.Driver-dashboard-options span {
    text-align: center;
    padding: 0;
    margin: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
} */

.Driver-dashboard-options .Driver-dashboard-items {
    width: 100%;
    text-align: center;
    height: 50px;
    padding:50px 0;
    margin: 0;
    cursor: pointer;
}

/* .Driver-dashboard-items:hover{
    background-color: hsla(0, 0%, 89%, 0.842);
} */


.Driver-dashboard-options .Driver-dashboard-items h5 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    color: var(--blue);
}
.Driver-dashboard-options button {
    padding: 15px 0;
    color: #ffffff;
    background: var(--blue);
    margin: 20px 70px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
}