
.dashboard-driver-info{
    width: 100%;
}


.dashboard-driver{
    margin: 30px 50px 0;
    width: 1055.8px;
   
}

.dashboard-driver h2{
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.driver-table{
    width: 100%;
    height: 450px;
    margin-top: 20px;
    overflow: hidden;
    overflow-y: scroll;
}

.driver-table::-webkit-scrollbar{
    display: none;
}

.driver-table table{
    color: white;
    width: 100%;
    text-align: center;
}

table td{
    height: 45px;
    text-align: center;

    
}

.table-data{
    background-color:rgb(33, 41, 92);
    border-radius: 10px;
}

