
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.admin-logo{
    width: 1164px;
    height: 64px;
    background-color:#264a99;
    display: flex;
    justify-content: end;
    align-items: center;
    padding:  0 50px;

}

.social-logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin: 0 10px;
}

.social-profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: antiquewhite;
    margin: 0 10px;
}